language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

matrix:
  allow_failures:
    - php: 7

before_script:
  - composer self-update
  - composer install --no-progress --prefer-source

script:
  - phpunit
